/*------------------ original --------------------*/

body {
    font-family: 'arial', sans-serif;
    line-height: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 34px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 16px;
    color: #fff;
    background: url(../images/um_bg.jpg) no-repeat center;
    background-size: cover;
    overflow: hidden;
}

.Container {
    position: relative;
}



@media all and (max-width: 320px) {

}