header.header-work
    .header-work__btn.header-work-btn.header-work-btn--left
      .header-work-btn__icon
        i(class="fa-solid fa-left-long")
      .header-work-btn__text Go Back
    .header-work__content.header-work-content
      .header-work-content__item.linkHome
        .header-work-content__text(val='ABOUT') ABOUT
      .header-work-content__item.linkUIUX
        .header-work-content__text(val='UI/UX') UI/UX
      .header-work-content__item.linkGame
        .header-work-content__text(val='GAME') GAME
      .header-work-content__item.linkData
        .header-work-content__text(val='DATA') DATA
      .header-work-content__item.linkBranding
        .header-work-content__text(val='BRANDING') BRANDING
    .header-work__btn.header-work-btn.header-work-btn--right
      .header-work-btn__text Go Next
      .header-work-btn__icon
        i(class="fa-solid fa-right-long")