header.header-work
    .header-work__btn.header-work-btn.header-work-btn--left
      .header-work-btn__icon
        i(class="fa-solid fa-left-long")
      .header-work-btn__text Go Back
    .header-work__content.header-work-content
      .header-work-content__item
        .header-work-content__text(val='UI/UX') UI/UX
      .header-work-content__item
        .header-work-content__text(val='GAME') GAME
      .header-work-content__item
        .header-work-content__text(val='DATA') DATA
    .header-work__btn.header-work-btn.header-work-btn--right
      .header-work-btn__text Go Next
      .header-work-btn__icon
        i(class="fa-solid fa-right-long")