
.summery-box
  .summery-box__title
    h2 Hi, I'm
    h1 Tonya Lee
    h3 Designer x Developer
    p Strong passion to make a cross to front-end developing. High awareness and empathy to maximize user benefits in design practice. Blending designers’DNA into my daily exposures to languages including HTML, CSS and JS.
