svg(width='100%' height='100%' preserveaspectratio='none' viewbox='0 0 1070 464' fill='none' xmlns='http://www.w3.org/2000/svg')
  path(fill='url(#a)' fill-opacity='.7' d='M0 0h1069v464H0z')
  //- path(fill='url(#b)' fill-opacity='.9' d='M0 0h1069v464H0z')
  // <path fill="url(#c)" fill-opacity=".9" d="M0 0h1069v464H0z"/>
  defs
    radialgradient#a(cx='0' cy='0' r='1' gradientunits='userSpaceOnUse' gradienttransform='rotate(93.814 173.41 436.021) scale(240.533 554.164)')
      stop(offset='1' stop-color='#fbeed3' stop-opacity='0')
      stop(offset='1' stop-color='var(--light-gold)' stop-opacity='0.2')
    //- radialgradient#b(cx='0' cy='0' r='1' gradientunits='userSpaceOnUse' gradienttransform='matrix(879.99746 967.99683 -1012.8742 920.79508 -148 -212)')
    //-   stop(stop-color='var(--light-gold)' stop-opacity='0.2')
    //-   stop(offset='.562' stop-color='#fff')
    //-   stop(offset='.948' stop-color='var(--light-gold)' stop-opacity='0.2')
    //- radialgradient#c(cx='0' cy='0' r='1' gradientunits='userSpaceOnUse' gradienttransform='matrix(-1000.00555 775.99136 -1021.31295 -1316.14689 1276 -228)')
    //-   stop(stop-color='#fff' stop-opacity='0.1')
    //-   stop(offset='1' stop-color='var(--light-gold)' stop-opacity='0.2')
.attracted
  .blob
.repelled
  .blob
.blur