@import 'modules/reset';
@import 'modules/variables';
@import 'modules/mixins';
@import 'modules/common';
// component
@import 'pages/index';
@import 'pages/header';
@import 'pages/footer';
@import 'pages/float-tool';
// page
@import 'pages/work';
@import 'pages/profile';


.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  @include phone {
    font-size: 3.5rem;
  }
}