@import 'modules/variables';
@import 'modules/mixins';
@import 'modules/common';
@import 'pages/index';
@import 'pages/work';
@import 'pages/header';
@import 'pages/footer';
@import 'pages/float-tool';

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  @include phone {
    font-size: 3.5rem;
  }
}

:root {
  // --wrapper-bg: #212121;
  // --primary-gold: #c0a062;
  // --primary-gold-gred: linear-gradient(to right, #c0a062 70%, rgba(0,0,0, 0) 100%);
  // --footer-height: 60px;
}


.theme-light {
  --wrapper-bg: #eaeaea;
  --wrapper-item-bg: #f5f5f5;
  --primary-gold: #c0a062;
  --primary-gold-gred: linear-gradient(to right, #c0a062 70%, rgba(0,0,0, 0) 100%);
  --color-title-primary: #af9155;
  --color-title-second: #212121;
  --color-text: #51504f;
  --color-text-tag: #222;
  --shadow-primary: rgb(202, 200, 199);
  --footer-height: 60px;
}

.theme-dark {
  --wrapper-bg: #212121;
  --wrapper-item-bg: #393939;
  --primary-gold: #c0a062;
  --primary-gold-gred: linear-gradient(to right, #c0a062 70%, rgba(0,0,0, 0) 100%);
  --color-title-primary: #c0a062;
  --color-title-second: #eaeaea;
  --color-text: #fff;
  --color-text-tag: #222;
  --shadow-primary: #222;
  --footer-height: 60px;

}