.float-tool {
  position: fixed;
  bottom: var(--footer-height);
  left: 0;
  padding: 2rem 3rem;
  z-index: 4;
  cursor: pointer;
  .float-tool__switch {
    opacity: 0.7;
    transform: scale(1);
    transition: all .3s ease-in;

    &:hover {
      opacity: 1;
      transform: scale(1.1);

      label {
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.1), 0 0 8px rgba(0, 0, 0, 0.2);
      }
    }
  }

  input.variation {
    display: none;
    + label {
      display: inline-block;
      width: 2rem;
      height: 2rem;
      margin: 1rem;
      border-radius: 50%;
      cursor: pointer;
      border: 3px solid var(--theme-btn-border);
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.1), 0 0 4px rgba(0, 0, 0, 0.2);
      transition: all .3s ease-in;

    }
  }
}

.theme-light {
  #themeBtn {
    + label {
      transform: rotateZ(180deg);
    }
  }
}

#themeBtn {
	+ label {
		background: linear-gradient(to left, var(--primary-gold) 50%, var(--wrapper-bg) 50%);
	}
}