.footer-work {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: var(--footer-height);
  transition: height 0.3s ease-in;
  background-color: rgba(rgb(150, 160, 105), 0.1);
  opacity: 0.7;
  line-height: 1.7em;
  z-index: 10;

  &__socialLinks {
    padding: 0 3rem;
  }

  &__copyright {
    padding: 0 3rem;
  }
}


.socialLinks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  &__text {
    padding-right: 1rem;
  }

  &__list {
    display: flex;
    justify-content: center;
    li {
      padding: 0.8rem;
      @include hover-opacity;

      a .svgSprite {
        width: 24px;
        height: 24px;
        fill: var(--footer-social-icon);
      }
    }
  }

  &__item {
    &--linkedin svg {
      transform: translate(0, -2px);
    }
  }
}
