// HEADER
.header-work {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  position: fixed;
  top: 0;
  width: 100%;
  line-height: 1.7em;
  padding: 2rem 0;
  transition: all .3s ease-in;
  background: var(--header-bg);
  z-index: 10;
  &--min {
    padding: 0;
    background: var(--header-bg-min);
    backdrop-filter: blur(5px);

    .header-work-content__item {
      font-size: 1rem;
    }
  }

  &__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0 3rem;
    cursor: pointer;
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
}

.header-work-btn {
  @include hover-opacity;

  @include desktop {
    display: none;
  }

  &--left {
    &:hover {
      .header-work-btn__icon {
        transform: translate(-10%, 0);
      }
    }
  }

  &--right {
    &:hover {
      .header-work-btn__icon {
        transform: translate(10%, 0);
      }
    }
  }

  &__text {
    font-weight: 600;
    white-space: nowrap;
  }

  &__icon {
    transition: transform ease-in .3s;
    padding: 1rem
  }

}

.header-work-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 1rem 2rem;
    height: auto;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 2px;
    cursor: pointer;

    &.active {
      .header-work-content__text {
        color: var(--wrapper-bg);

        &::before {
          opacity: 1;
        }

        // &::after {
        //   width: 100%;
        // }
      }
    }

    &:hover {
      .header-work-content__text {
        color: var(--wrapper-bg);

        &::before {
          opacity: 1;
        }

        &::after {
          width: 100%;
        }
      }
    }
  }

  &__text {
    position: relative;
    transition: all ease-in 0.5s;

    &::before {
      display: block;
      content: attr(val);
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--wrapper-bg);
      background-image: var(--primary-gold-gred);
      background-size: 100%;
      background-repeat: repeat;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-background-clip: text;
      -moz-text-fill-color: transparent;
      // background-position-x: 0%;
      opacity: 0;
      transition: opacity ease-in 0.5s;
    }

    &::after {
      display: block;
      content: '';
      position: absolute;
      left: 0;
      width: 0%;
      height: 2px;
      background: var(--primary-gold-gred);
      transition: width ease-in 0.5s;
    }

  }

  @include desktop {
    &__item {
      padding: 2rem;
      width: 100%;
    }
  }
}


// MENU

.menu {

  &__close-btn {
  }
}

.menu-close-btn {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  padding: 2rem;
  background: var(--menu-close-btn-bg);
  z-index: 30;
  cursor: pointer;
  &:hover {
    .line-1 { animation: menu-ani 600ms ease-in-out; }
    .line-2 { animation: menu-ani 600ms 100ms ease-in-out; }
    .line-3 { animation: menu-ani-bottom 600ms 200ms ease-in-out; }
  }
  @include phone {
    padding: 1rem;
  }
}

// menu icon
.menu-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  .menu-line {
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform-origin: center;
  }

  &.menu-open {
    .line-1 {
      transform: rotate(45deg) translate(3px, 11px);
    }
    .line-2 {
      transform: rotate(-45deg) translate(3px, 11px);
    }
    .line-3 {
      opacity: 0;
    }
  }
}


// RWD
@include desktop {
  .header-work {
    padding: 0;
    background: var(--header-bg-full);
    height: 100%;
    overflow: auto;
    z-index: 15;
      &__content {
        flex-direction: column;
      }
    }
  .menu {
    display: none;
    &--show {
      display: block;
    }
    &--opening {
      display: block;
      animation: slideup 0.3s ease-in 1;
    }
    &--closing {
      display: block;
      animation: slideup 0.3s ease-in 1 reverse;
    }
    &__close-btn {
      display: block;
    }
  }
}

// Ani
@keyframes slideup {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes menu-ani {
  0% { width: 18px; }
  20% { width: 2px; }
  80% { width: 21px; }
  100% { width: 18px; }
}

@keyframes menu-ani-bottom {
  0% { width: 12px; }
  20% { width: 2px; }
  75% { width: 21px; }
  100% { width: 12px; }
}
