


.header-work {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  position: fixed;
  top: 0;
  width: 100%;
  line-height: 1.7em;
  padding: 2rem 0;
  transition: all .3s ease-in;
  background: var(--header-bg);
  z-index: 10;

  &--min {
    padding: 0;
    background: var(--header-bg-min);
    backdrop-filter: blur(5px);
    .header-work-content__item {
      font-size: 1rem;
    }
  }

  &__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0 3rem;
    cursor: pointer;
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

  }
}

.header-work-btn {
  @include hover-opacity;

  &--left {
    &:hover {
      .header-work-btn__icon {
        transform: translate(-10%,0);
      }
    }
  }
  &--right {
    &:hover {
      .header-work-btn__icon {
        transform: translate(10%,0);
      }
    }
  }

  &__text {
    font-weight: 600;

  }
  &__icon {
    transition: transform ease-in .3s;
    padding: 1rem
  }

}

.header-work-content {
  height: 100%;

  &__item {
    position: relative;
    padding: 0 2rem;
    height: 100%;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 2px;
    cursor: pointer;


    &:hover {
      .header-work-content__text {
        color: var(--wrapper-bg);

        &::before {
          opacity: 1;
        }
        &::after {
          width: 100%;
        }
      }
    }
  }

  &__text {
    position: relative;
    transition: all ease-in 0.5s;

    &::before {
      display: block;
      content: attr(val);
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--wrapper-bg);
      background-image: var(--primary-gold-gred);
      background-size: 100%;
      background-repeat: repeat;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-background-clip: text;
      -moz-text-fill-color: transparent;
      // background-position-x: 0%;
      opacity: 0;
      transition: opacity ease-in 0.5s;
    }

    &::after {
      display: block;
      content: '';
      position: absolute;
      left: 0;
      width: 0%;
      height: 2px;
      background: var(--primary-gold-gred);
      transition: width ease-in 0.5s;
    }

  }
}