
//- profile page

.content__profile {
  &__section {

  }

  &__sec1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 5rem 0;
  }

  &__sec2 {
    padding: 5rem 0;
  }

  h4 {
    font-size: 2.5rem;
    font-weight: 600;
  }
}

//- .summery-box
.summery-box {

  &--left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding-left: 2rem;
  }
  &--right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
  }

  &__photo {
    width: 22rem;
    height: 22rem;
    border-radius: 50%;
    overflow: hidden;
    img {
      display: block;
      width: 110%;
      height: 110%;
      transform: translate(-5%,-5%);
    }
  }

  &__descrip {
    text-align: center;
    &__title {
      padding: 1rem;
      line-height: 1.5em;
    }
  }

  &__title {
    color: var(--color-title-second);
    h1 {
      font-size: 4rem;
      line-height: 1.5em;
      letter-spacing: 2px;
      font-weight: 600;
      margin: 1rem 0 4.6rem 0;
      width: fit-content;
      color: var(--color-summery-title-primary);
      &::after {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background: var(--color-summery-title-primary);
      }
    }
    h2 {
      font-size: 2.2rem;
      margin: 1rem 0;
      letter-spacing: 2px;
      line-height: 1em;
    }
    h3 {
      margin: 1.2rem 0;
      font-size: 1.6rem;
      font-weight: normal;
    }
    p {
      line-height: 1.6em;
      max-width: 80%;
    }
  }


}


//- .timeline-box
.timeline-box {
  flex: 5;
  &__title {

  }
}
