
//- profile page

h4 {
  font-size: 2.5rem;
  font-weight: 600;
  padding: 2rem 0;
}

.content__profile {
  &__section {

  }

  &__sec1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 5rem 0;
    min-height: calc(90vh - 4rem);
    // cursor: url('/images/bling-4.png') 10 10, auto;
  }

  &__sec2 {
    padding: 5rem 0;
  }
}

//- .summery-box
.summery-box {

  &--left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 0 0.5rem 0 3rem;
  }
  &--right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 0 3rem 0 0.5rem;
  }

  &__photo {
    width: 22rem;
    height: 22rem;
    border-radius: 50%;
    overflow: hidden;
    img {
      display: block;
      width: 110%;
      height: 110%;
      transform: translate(-5%,-5%);
    }
  }

  &__descrip {
    text-align: center;
    &__title {
      padding: 1rem;
      line-height: 1.5em;
    }
  }

  &__title {
    color: var(--color-title-second);
    h1 {
      font-size: 4rem;
      line-height: 1.5em;
      letter-spacing: 2px;
      font-weight: 600;
      margin: 1rem 0 4.6rem 0;
      width: fit-content;
      color: var(--color-summery-title-primary);
      @include font-highlight;
      &::after {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background: var(--color-summery-title-primary);
      }
    }
    h2 {
      font-size: 2.2rem;
      margin: 1rem 0;
      letter-spacing: 2px;
      line-height: 1em;
    }
    h3 {
      margin: 1.2rem 0;
      font-size: 1.6rem;
      font-weight: normal;
    }
    p {
      line-height: 1.6em;
      max-width: 80%;
    }
  }


}


//- .timeline-box
.timeline-box {
  flex: 5;

  &__content {

  }

  &__list {
  }
}

.tl-list {
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 2rem 0;
  font-size: 1rem;
  line-height: 1.5em;

  &__deco {
    // position: absolute;
    // top: 1rem;
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    margin: 0.5rem 5.8rem;
    border-radius: 50%;
    background-color: var(--tl-line);
    flex: none;

    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 2px;
      height: 100%;
      transform: translate(0.67rem, 0);
      background-color: var(--tl-line);
    }
  }

  &__wrap {
    display: block;
    // padding-left: 7rem;
  }

  &__companyName {
    padding: 0.2rem 0;
    font-size: 1rem;
    line-height: 1.5em;
  }

  &__headline {
    padding: 0.2rem 0;
    font-size: 1.3rem;
    line-height: 1.5em;
    font-weight: 700;
    color: var(--tl-headline);
  }
  &__date {
    display: inline-block;
    padding: 0.2rem 0;
    font-size: 0.8rem;
    line-height: 1.5em;
    opacity: 0.8;
  }
  &__type {
    display: inline-block;
    font-size: 0.8rem;
    line-height: 1.5em;
    border: 1px solid gray;
    padding: 0.1rem 0.5rem;
    margin: 0 0.8rem;
    border-radius: 1rem;
    opacity: 0.8;
  }
  &__content {
    padding: 0.5rem 0;
    display: flex;
    flex-direction: column;

    &__point {
      font-size: 1rem;
      line-height: 1.8em;
    }
  }
}


//- .rewards-box
.rewards-box {
  flex: 5;

  &__content {

  }

  &__list {
  }
}

.rw-list {
  
}