
//------------------- profile page


//- profile top
.content__profile {
  &__section {

  }

  &__sec1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 5rem 0;
    min-height: calc(90vh - 4rem);
    @include section-max(80%);
  }

  &__sec2 {
    padding: 5rem 0;
    @include section-max(65%);
  }

  &__sec3 {
    padding: 5rem 0;
    width: 100%;
    color: var(--rewards-text);
    background: var(--rewards-section-bg);
  }

  @include phone {
    &__sec1 {
      padding: 2rem 0;
    }
    &__sec2 {
      padding: 2rem 0;
      @include section-max(80%);
    }
    &__sec3 {
      padding: 2rem 0;
    }
  }
}

//- .summery-box
.summery-box {
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: 1fr 1.7fr;
  grid-template-areas:
  'photo title'
  'photo content';


  @include tablet {
    grid-template-columns: 1fr 1.7fr;
    grid-template-areas:
    'title title'
    'photo content';
  }
  @include phone {
    grid-template-columns: 1fr;
    grid-template-areas:
    'title title'
    'photo photo'
    'content content';
    row-gap: 1rem;
    column-gap: 0;

    &__photo {
      margin: 1rem auto;
      max-width: 50%;
    }
  }


  &__photo {
    grid-area: photo;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    img {
      display: block;
      flex: none;
      width: 90%;
      height: auto;
      border-radius: 50%;
    }
    &__descrip {
      text-align: center;
      margin-top: 1rem;
      padding: 1rem;
      line-height: 1.5em;
      @include phone {
        margin-top: 0.6rem;
        padding: 0.6rem;
        white-space: nowrap;
      }
    }
  }

  &__title {
    grid-area: title;
    color: var(--color-title-second);
    h1 {
      font-size: 3.8rem;
      line-height: 1.8em;
      letter-spacing: 2px;
      font-weight: 600;
      width: fit-content;
      color: var(--color-summery-title-primary);
      @include font-highlight;
      transition: font-size 0.3s;

      span {
        display: block;
        font-size: 7.3rem;
        transition: font-size 0.3s;
        margin-bottom: 1rem;
        line-height: 1.2;
        @include font-highlight-stroke;
      }
      i {
        padding: 0.7rem;
        font-style: normal;
        @include font-highlight-stroke;
      }
    }

    @include lg-desktop{
      h1 {
        font-size: 3.4rem;
        span {
          font-size: 6.5rem;
        }
        i {
          padding: 0.6rem;
        }
      }
    }

    @include desktop {
      h1 {
        font-size: 2.6rem;
        span {
          font-size: 5.7rem;
        }
        i {
          padding: 0.5rem;
        }
      }
    }

    @include phone {
      h1 {
        font-size: 1.2rem;
        span {
          font-size: 3.4rem;
          margin-bottom: 0.5rem;
        }
        i {
          padding: 0.5rem;
        }
      }
    }

  }

  &__content {
    h3 {
      margin: 1.3rem 0;
      font-size: 1.8rem;
      font-weight: normal;
      line-height: 1.4em;
      @include font-highlight;
    }
    p {
      line-height: 2em;
      max-width: 100%;
      text-align: justify;
    }

    @include lg-desktop{
      h3 {
        margin: 1rem 0;
        font-size: 1.6rem;
        line-height: 1.4em;
      }
      p {
      }
    }
    @include desktop {
      h3 {
        font-size: 1.2rem;
        line-height: 1.4em;
      }
      p {
      }
    }
    @include tablet {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      p {
        line-height: 1.6em;
      }
    }
    @include phone {
      // h3 {
      //   text-align: center;
      // }
      // p {
      //   text-align: center;
      // }
    }
  }
}

//- .list 
.list {
  &__companyName {
    padding: 0.2rem 0;
    font-size: 1rem;
    line-height: 1.5em;
  }

  &__headline {
    padding: 0.2rem 0;
    font-size: 1.3rem;
    line-height: 1.5em;
    font-weight: 700;
    color: var(--tl-headline);


  }
  &__date {
    display: inline-block;
    padding: 0.2rem 0;
    font-size: 0.8rem;
    line-height: 1.5em;
    opacity: 0.8;
  }

  &__type {
    display: inline-block;
    font-size: 0.8rem;
    line-height: 1.5em;
    border: 1px solid var(--color-text-border);
    padding: 0.1rem 0.5rem;
    margin: 0 0.8rem;
    border-radius: 1rem;
    opacity: 0.8;

    .highlight-bg & {
      border: 1px solid var(--rewards-text-border);
    }
  }

  &__type {

  }

  &__content {
    padding: 1rem 0 0.5rem 0;
    display: flex;
    flex-direction: column;

    &__point {
      font-size: 1rem;
      line-height: 1.8em;
    }
  }

  i {
    display: block;
    padding: 0.5rem;
  }
}


h4 {
  font-size: 3rem;
  font-weight: 600;
  padding: 2rem 0;
  transition: font-size 0.3s;

  @include lg-desktop{
    font-size: 2.5rem;
  }

  @include desktop{
    font-size: 2rem;
  }

  @include phone{
    font-size: 1.6rem;
    padding: 1rem 0;
  }
}


//- .timeline-box
.timeline-box {
  flex: 5;

  &__content {

  }

  &__list {
    overflow: hidden;
  }
}

.tl-list {
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 2rem 0;
  font-size: 1rem;
  line-height: 1.5em;

  &__deco {
    $size: 1.5rem;
    @include desktop{
      $size: 1rem;
    }
    @include tablet{
      $size: 0.8rem;
    }
    @include tablet{
      $size: 0.5rem;
    }
    display: block;
    width: $size;
    height: $size;
    margin: 0.5rem 5.8rem;
    border-radius: 50%;
    background-color: var(--tl-line);
    flex: none;

    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 2px;
      height: 100%;
      transform: translate(calc($size / 2 - 1px), 0);
      background-color: var(--tl-line);
    }

    @include desktop{
      margin: 0.5rem 3rem;
    }
    @include tablet{
      margin: 0.5rem 1.6rem;
    }
    @include tablet{
      margin: 0.5rem 1.2rem;
    }
  }

  &__wrap {
    display: block;
    // padding-left: 7rem;
  }
}

//- .rewards-box
.rewards-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 5;

  &__title {
    text-align: center;
  }

  &__content {

  }

  &__list {
    width: 80%;
    margin: auto;
  }


}

.rw-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  padding: 2rem 0;
  text-align: center;
  min-height: 80vh;

  @include phone {
    padding: 1rem 0;
  }

  &-1 {
    .rw-list__pic {
      display: grid;
      grid-template-columns: repeat(2, 320px);
      gap: 20px;
      @include tablet {
        display: block;
        width: 50%;
        &__img {
          margin: 1rem 0;
        }
      }
      @include phone {
        width: 70%;
      }
    }
  }

  &-2 {
    .rw-list__pic {
      max-width: 500px;
      margin: auto;

      @include tablet {
        width: 50%;
      }
      @include phone {
        width: 70%;
      }
      &__img {
      }
    }
  }

  &-3 {
    .rw-list__pic {
      display: grid;
      grid-template-columns: 300px 300px;
      grid-template-rows: auto;
      gap: 20px;
      @include tablet {
        display: block;
        width: 50%;
        &__img {
          margin: 1rem 0;
        }
      }
      @include phone {
        width: 70%;
      }
      .rw-list__pic__img:nth-child(1) {
        grid-column: 1/2;
        grid-row: 1/2;
      }
      .rw-list__pic__img:nth-child(2) {
        grid-column: 1/2;
        grid-row: 2/4;
      }
      .rw-list__pic__img:nth-child(3) {
        grid-column: 2/2;
        grid-row: 1/4;
      }
    }
  }



  &__pic + &__wrap {
    padding-bottom: 1rem;

  }

  &__pic {
    &__img {
      border-radius: 0.8rem;
      overflow: hidden;
    }
  
    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  &__wrap {
    
  }


  .list__headline {
    padding: 0.2rem 0;
    font-size: 1.8rem;
    line-height: 1.5em;
    font-weight: 700;
    color: var(--rw-headline);

    @include lg-desktop{
      margin: 1rem 0;
      font-size: 1.8rem;
      line-height: 1.4em;
    }
    @include desktop {
      font-size: 1.4rem;
      line-height: 1.4em;
    }
    @include tablet {
    }
  }
  
}