

::-moz-selection {
  background: var(--primary-gold);
  color: var(--wrapper-bg);
  text-shadow: none
}

::selection {
  background: var(--primary-gold);
  color: var(--wrapper-bg);
  text-shadow: none
}


.item-bg {
  background-image: url($imgPrefix+'images/background-0.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

//- container

body {
  display: block;
  position: absolute;
  width: 100dvw;
  height: 100dvh;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
  color: var(--color-text);
  background-color: #000;
}



.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--wrapper-bg);
  // background: linear-gradient(to right, rgb(30, 60, 114), rgb(42, 82, 152));
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  max-width: 1500px;
  min-height: 600px;
}

.content {
  &__profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

//- GOTOP
.gotop {

}

//- Socila Network
