

::-moz-selection {
  background: var(--primary-gold);
  color: var(--wrapper-bg);
  text-shadow: none
}

::selection {
  background: var(--primary-gold);
  color: var(--wrapper-bg);
  text-shadow: none
}


.item-bg {
  background-image: url($imgPrefix+'images/background-0.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

//- container

body {
  display: block;
  position: absolute;
  width: 100dvw;
  height: 100dvh;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
  color: var(--color-text);
  background-color: #000;
}



.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--wrapper-bg);
  // background: linear-gradient(to right, rgb(30, 60, 114), rgb(42, 82, 152));
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  max-width: 1500px;
  min-height: 600px;
  margin: 100px 0 var(--footer-height) 0;
}

.content {
  &__profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

//- GOTOP
.gotop {

}

.topLink {
  display: block;
  position: fixed;
  z-index: 1000;
  right: -3rem;
  bottom: calc(var(--footer-height) + 2rem);
  background-color: var(--gotop-bg);
  color: var(--gotop-icon);
  line-height: inherit;
  font-size: 1rem;
  transform: rotate(90deg);
  transform-origin: top right;
  font-weight: 700;
  padding: 6px 12px 6px 40px;
  opacity: 0;
  transition: all .5s ease-out;

  &.show {
    right: 3rem;
    opacity: 1;
  }

  .svgSprite {
    fill: var(--gotop-icon);
    height: 12px;
    width: auto;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    transition: all .5s ease-out
  }
}


//- Socila Network
