
//- works page


.summery-box {
  flex: 1;
  &__title {
    color: var(--color-title-primary);
    h1 {
      font-size: 4rem;
    }
    h3 {
      font-size: 2rem;
    }
  }

}

.work-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}


.work-item {
  padding: 2rem;
  border-radius: 30px;
  color: var(--color-title-second);
  background-color: var(--wrapper-item-bg);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  transform: translate(0,0);
  box-shadow: 0 0 5px var(--shadow-primary);


  &:hover {
    box-shadow: 0 0 25px var(--shadow-primary);
    transform: translate(0,-2%);
    img {
      transform: scale(1.2);
    }
  }

  &__descrip {
    font-size: 1.1rem;
    letter-spacing: 1px;
    font-weight: 600;
    padding: 1rem 0 0.5rem 0;

  }
  &__content {
    border-radius: 25px;
    overflow: hidden;
    img {
      display: block;
      width: 100%;
      height: auto;
      overflow: hidden;
      transform: scale(1);
      transition: transform 0.3s ease-in-out;
    }
  }
}

.descrip {
  &__title {
    padding: 0.3rem 0 0.6rem 0;

  }
  &__tool {
    padding: 0.3rem 0;

  }
}

.tag {
  display: inline-flex;
  color: var(--color-text-tag);
  background-color: aquamarine;
  border-radius: 10px;
  padding: 0.2rem 0.7rem;
  margin: 0 0.6rem 0.6rem 0;
  font-size: 0.8rem;
  letter-spacing: 0;
  font-weight: 400;
  box-shadow: 0 0 2px rgba(#000, 0.2);

  &-2 {
    background-color:rgb(255, 222, 104);
  }
  &-3 {
    background-color:rgb(255, 129, 129);
  }
  &-4 {
    background-color:rgb(167, 248, 155);
  }
  &-5 {
    background-color:rgb(152, 205, 255);
  }
  &-6 {
    background-color:rgb(254, 156, 107);
  }
  &-7 {
    background-color:rgb(255, 114, 140);
  }
  &-8 {
    background-color:rgb(42, 196, 252);
  }
}