


.intro-box
  .intro-box__title Front-End Designer &amp; <br> Team Works
  .intro-box__text  Leading designers in cross-functional collaboration with front-end engineers for seamless departmental cooperation.


section.center.sl-sec
  .sl-sec--box 
    .sl-box-content 1
  .sl-sec--box 
    .sl-box-content 2
  .sl-sec--box 
    .sl-box-content 3
  .sl-sec--box 
    .sl-box-content 4
  .sl-sec--box 
    .sl-box-content 5
  .sl-sec--box 
    .sl-box-content 6
  .sl-sec--box 
    .sl-box-content 7
  .sl-sec--box 
    .sl-box-content 8
  .sl-sec--box 
    .sl-box-content 9
