

//- .intro-box
//-     .intro-box__title Welcome to my <br/> GAME WORLD
//-     .intro-box__text  Dive into my web games, where every interactive experience reflects my passion for innovative design. <br/>Each game is a testament to my love for pushing creative boundaries in game design. Join me in exploring these virtual worlds!


//- .work-box
//-     .work-item
//-         .work-item__content
//-             //- 375 X 810 
//-             iframe(width="300" height="650" src="https://www.youtube.com/embed/videoseries?si=9OSqg5Zo74Wen8_o&amp;list=PLUUSvCd9pbvpWjOiPO6jlesKpDk4Hgw4F" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen)
//-         .work-item__descrip
//-             .descrip__title Interactive Game Design
//-             .descrip__title Interactive Game Design
//-             .descrip__tool
//-                 .tag GSAP
//-                 .tag.tag-2 JS
//-                 .tag.tag-3 Angular
//-                 .tag.tag-4 Canvas
//-                 .tag.tag-5 CSS3
//-                 .tag.tag-6 SVG
//-                 .tag.tag-7 SVG
//-                 .tag.tag-8 SVG


.intro-box
    .intro-box__title Front-End Designer &amp; <br> Team Works
    .intro-box__text  Leading designers in cross-functional collaboration with front-end engineers for seamless departmental cooperation.

