extends ./layout/_default.pug
block variables
	- var title = 'Tonya‘s profile'
	- var prefix = FILE_PREFIX
	//- - var extraCSS = [FILE_PREFIX+'css/carousel.css']
	- var imgPrefixUrl = IMG_PREFIX_URL


block content
	.content.content__profile
		.content__profile__sec1
			.profile-box
				.profile-box__photo
					img(src='/images/photo.jpg')
				.profile-box__content
				.profile-box__descrip
					.descrip__title Senior Front-End <br> Dynamic Designer
					.descrip__tool
			.summery-box
				.summery-box__title
					h2 Hi, I'm
					h1 Tonya Lee
					h3 Designer x Developer
					p Strong passion to make a cross to front-end developing. High awareness and empathy to maximize user benefits in design practice. Blending designers’DNA into my daily exposures to languages including HTML, CSS and JS.

		.content__profile__sec2
			.timeline-box
				.timeline-box__title
					h4 Skill &amp; Experience
				.timeline-box__content


		.content__profile__sec2
			.rewards-box
				.rewards-box__title
					h4 Recent Works
				.rewards-box__content
