block variables
doctype html
html(lang="zh-TW")
  head
    include ../partials/_head.pug
  body#body
    .wrapper
      include ../partials/_header.pug

      .container
        block content

      include ../partials/_footer.pug
      include ../partials/_float-tool.pug


      //- go top
      //- .gotop
      a.topLink(href='#home')
        svg.svgSprite.svgSprite--arrowLeft(viewbox='0 0 133 95')
          use(xlink:href='/images/svg-sprite.svg#arrowLeft')
        | UP
