* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  font-family: 'Nunito Sans', sans-serif;
  color: #545454;
  background-color: var(--wrapper-item-bg);
}

html {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}


.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  @include phone {
    font-size: 3.5rem;
  }
}