block variables
doctype html
html(lang="zh-TW")
  head
    include ../partials/_head.pug
  body
    .wrapper
      block header
        include ../partials/works/_header.pug

      .container
        block content
          .content.content--work
            .summery-box
              .summery-box--title
                h1 Tonya's Works
                h3 Welcome this design space
            .work-item
              .work-item--title aaas sdds ss
              .work-item--content
                img(src='/images/background-0.jpg')

      block footer
        include ../partials/_footer.pug
